<!DOCTYPE html>
<html>
  <head>
    <title>Pusher Client Events example</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <% include _menu.html %>

    <h1>Pusher Client Events Example</h1>

    <p class="description">
      <a href="https://pusher.com/docs/client_api_guide/client_events">Client events</a> allow you to trigger events from the clients and remove the need for events to go through a server. Client requests must be authenticated through an authentication endpoint. There are <a href="https://pusher.com/docs/client_api_guide/client_events#trigger-events">additional restrictions</a> on client events you should be aware of. Client events can only occur on private and presence channels. You also need to explicitly enable client events in your Pusher dashboard.
    </p>

    <p class="use-case">
      If you don't need to validate or persist any data, client events avoid the overhead of sending the data to the server before its sent on to clients.
    </p>

    <h2>Instructions</h2>

    <p class="page-instructions">
      To use this code example, take a look at the source of <a href="https://github.com/pusher-community/gs-pusher-node/tree/master/views/client-events.html">views/client-events.html</a> and <a href="https://github.com/pusher-community/gs-pusher-node/tree/master/server.js">server.js</a>. Additionally, view the output to the JavaScript console in your browser developer tools.
    </p>

    <p>For the best demo, open up two tabs so you can see messages being sent between clients.</p>


    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script>
      /*
         Log debug information to the browser console.
       */
    Pusher.log = function(msg) {
      console.log(msg);
    };

    /*
       Set options so that `/presence_auth` is called when the presence channel is subscribed to.
     */
var options = {
  authEndpoint: '/private_auth'
};
var appKey = '<%= pusher_app_key %>';
var pusher = new Pusher(appKey, options);

/*
   Subscribe to the private channel
 */
var privateChannel = pusher.subscribe('private-my-channel');

/*
   Bind to the subscription succeeded event, at which point we are ready to trigger cliient events
 */
privateChannel.bind('pusher:subscription_succeeded', subscriptionSucceeded);

/*
   Handled the successful subscription to the channel, receiving a list of users
   that are already online/subscribed to the channel.
 */
function subscriptionSucceeded() {
  console.log('Success!');

  // client messages must be prefixed with client-
  var triggered = privateChannel.trigger('client-new-message', {
    text: 'Hello World'
  });

  // trigger returns true if it succeeded, or false otherwise
  console.log('Client event triggered?', triggered);
}

/*
   Bind to client events.
 */
privateChannel.bind('client-new-message', newMessage);

/*
   Handle new messages
 */
function newMessage(data) {
  console.log('new client message', data);
}

    </script>
  </body>
</html>
