body {
  color: #626869;
  font-size: 18px;
  font-weight: 200;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}

body > h1, 
body > h2, 
body > h3, 
body > p, 
body > form, 
body > input, 
body > button {
  padding: 0;
  margin: 20px;
}
